apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: auth-ms
  name: auth-ms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-ms
  strategy: {}
  template:
    metadata:
      labels:
        app: auth-ms
    spec:
      containers:
      - image: europe-southwest1-docker.pkg.dev/nestjs-microservices-479616/images-registry/auth-ms:latest
        name: auth-ms
        env: 
        - name: PORT
          value: "3000"
        - name: NATS_SERVERS
          value: "nats://nats:4222"
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: DATABASE_URL
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: JWT_SECRET
        
        resources: {}
status: {}
